# OS Junk (Mac/Windows)
.DS_Store
Thumbs.db
ehthumbs.db
Desktop.ini

# Python
pycache/
*.py[cod]
*$py.class
.venv/
env/
venv/

# Jupyter/Colab
.ipynb_checkpoints/

# Environment Variables (Secrets)
.env
.env.local

# Data & Models (Too large for Git)
datasets/
data/raw/
data/processed/
*.pt
*.onnx
*.tflite
runs/
wandb/

# IDE Settings
.vscode/
.idea/